.contact {
    height: 100%;
    // padding-top: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.6),
        rgba($primary-color, 0.3)
      ),
      url('/assects/PicsArt_09-09-12.47.12.png') center top;
    background-size: cover;
  
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  
    &_list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      font-size: 1.5rem;
    }
  
    .social-icons {
      position: initial;
      margin-top: 2rem;
    }
  }